h1 {
  display: flex;
  justify-content: center;
}

h3 {
  display: flex;
  justify-content: center;
}

.Form {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  width: 50%;
  margin: auto;
}

.PasswordForm{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px 0 15px 0
}

.FormUser {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5px;
  padding-top: 5px;
}

.FormUser input {
  width: 70%;
  margin-right: 25px;
}

.FormUser label {
  padding-right: 5px;
}

.Alerta {
  display: flex;
  width: 50%;
  margin: auto;
  padding-bottom: 15px;
  color: red;
  font-size: 14px;
}

.Bottons {
  display: flex;
  justify-content: center;
}

.BtnGoogle {
  border: none;
  background-color: unset;
}

.Resposta {
  justify-content: center;
  color: white;
}

.Cards {
  width: 400px;
  margin-left: 15px;
}

.DisplayButtons {
  margin-bottom: 15px;
  margin-right: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CardUser {
  border-radius: 8px;
  border: 1px solid grey;
  width: 350px;
  padding-left: 25px;
}

.PainelADM {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ImageContainer {
  position: absolute;
  top: 50px;
  right: 290px;
  width: 100px;
  height: 100px;
  border: 2px solid darkblue;
}

.ImageContainer img {
  width: 100px;
  height: 100px;
}

.EditImage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.EditImage input {
  display: block;
}
